<div class="d-flex flex-row topic-row" id="topic-<%= topic.id %>">

  <!-- Topic Creator Avatar -->
  <div class="topic__avatar member-image mr-3">
    <div class="intrinsic-ratio-container
      intrinsic-ratio-container--square">
      <%= link_to group_member_path(group, topic.user),
        class: "display-block" do %>
        <%= image_tag gravatar_image_url(topic.user.email),
          class: "lazyload blur-up
            img-fluid intrinsic-ratio-image user-avatar d-block",
          alt: topic.user.name %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-md-center w-100">
    <div class="topic__info">
      <h3 class="lead">

        <!-- Topic Type -->
        <% if topic.type? && !topic.normal? %>
          <strong class="text-uppercase">
            <%= topic.type_presentable %>:
          </strong>
        <% end %>

        <!-- Topic Title -->
        <% if topic.event? %>
          <%= link_to topic.title, group_event_path(group, topic.event) %>
        <% else %>
          <%= link_to topic.title, group_topic_path(group, topic) %>
        <% end %>
      </h3>

      <!-- Topic Date -->
      <% if topic.comments.empty? %>

        <span class="topic__date">
          Opened <%= local_time_ago(topic.created_at) %>
        </span>
        <span class="d-block d-md-inline">
          by <%= link_to topic.user.name,
            group_member_path(group, topic.user),
            class: "text-dark" %>
        </span>

      <% else %>

        <span class="topic__date">
          Last commented <%= local_time_ago(topic.last_commented_at) %>
        </span>
        <span class="d-block d-md-inline">
          by <%= link_to topic.last_comment_user.name,
            group_member_path(group, topic.last_comment_user),
            class: "text-dark" %>
        </span>

      <% end %>
    </div>

    <!-- Topic Comments Count -->
    <div class="topic__comments-count text-md-center mt-1 mt-md-0">
      <%= link_to resource_comments_path(group, topic),
        class: "d-block text-dark" do %>
        <div class="d-inline-block d-md-block lead mb-1">
          <%= topic.topic_comments.count %>
        </div>
        <div class="d-inline-block d-md-block">
          <%= "comment".pluralize(topic.topic_comments.count) %>
        </div>
      <% end %>
    </div>
  </div>

</div><!-- /.topic-row -->

<% unless topic == topics.last %>
  <hr class="topic-separator">
<% end %>
