<div class="container-fluid bg-light">
  <div class="container pb-2 mb-4">

    <%= render partial: "application/breadcrumbs" %>

    <h2 class="text-center mt-3 mb-2rem pb-1">
      <%= @topic.title %>
    </h2>

    <div class="box topic-box mb-1 p-4">

      <div class="d-flex flex-row topic-container" id="topic-<%= @topic.id %>">
        <div class="topic__avatar member-image mr-3">
          <div class="intrinsic-ratio-container
            intrinsic-ratio-container--square">
            <%= link_to group_member_path(@group, @topic.user),
              class: "display-block" do %>
              <%= image_tag gravatar_image_url(@topic.user.email),
                class: "lazyload blur-up
                  img-fluid intrinsic-ratio-image user-avatar d-block",
                alt: @topic.user.name %>
            <% end %>
          </div>
        </div>

        <div class="topic__body">
          <!-- User Name -->
          <%= link_to @topic.user.name, group_member_path(@group, @topic.user),
            class: "font-weight-bold" %>

          <!-- User Group Points -->
          <small class="topic__user-points">
            <%= user_points(@group, @topic.user) %>
          </small>

          <!-- Date -->
          <small class="topic__date text-muted">
            <%= local_time_ago(@topic.created_at) %>
          </small>

          <!-- Body -->
          <div class="mt-2 pt-1 pb-1">
            <!-- TODO: Remove Event Topic Data -->
            <!----------------------------------->
            <% if @topic.event? %>
              <div class="topic-event-data mt-2 mb-4">
                <p class="mb-3">
                  <span class="mr-1"><%= calendar_icon %></span>
                  <%= EventDecorator.new(@topic.event).start_date_prettyfied %>
                  <% unless same_time?(EventDecorator.new(@topic.event)) %>
                    - <%= EventDecorator.new(@topic.event).end_date_prettyfied %>
                  <% end %>
                </p>

                <p class="mb-3">
                  <span class="mr-1"><%= location_icon %></span>
                  <%= link_to EventDecorator.new(@topic.event).full_address, group_event_path(@group, @topic.event) + "#map",
                    data: { turbolinks: false } %>
                </p>

                <% if @topic.event&.website? %>
                  <p class="mb-3">
                    <span class="mr-1"><%= link_icon %></span>
                    <%= link_to EventDecorator.new(@topic.event)&.website_prettyfied, @topic.event&.website %>
                  </p>
                <% end %>
              </div>
            <% end %>
            <!----------------------------------->

            <%= sanitize(@topic.body) %>
          </div>

          <!-- TODO: Remove Event Topic Data -->
          <% if @topic.event? %>
            <div class="mt-2 pt-1">
              <%= link_to "See event",
                group_event_path(@group, @topic.event) %>
            </div>
          <% end %>
          <!----------------------------------->

          <!-- Edited On Date -->
          <% if @topic.edited? %>
            <%= render "edited_by", object: @topic %>
          <% end %>

          <!-- Edit Link -->
          <% if is_authorized_to_edit?(@topic, @group) %>
            <div class="mt-2 pt-1">
              <%= link_to "Edit", edit_group_topic_path(@group, @topic) %>
            </div>
          <% end %>
        </div>
      </div>

    </div><!-- /.box -->

    <%= render partial: "groups/topics/comments/comment",
      collection: @comments,
      locals: { comments: @comments } %>

    <h3 class="text-center mt-2rem">Comment</h3>

    <%= form_for @comment,
      url: group_topic_comments_path(@group, @topic, @comment, origin: controller_name) do |f| %>
      <%= render "error_messages", object: @comment %>

      <div class="form-group box p-4 mt-2rem mb-2rem">
        <div class="form-group mb-0">
          <%= f.hidden_field :body, required: true %>
          <trix-editor input="topic_comment_body"
            class="form-control trix-editor-topic">
          </trix-editor>
        </div>
      </div>

      <%= f.submit "Submit a new comment",
        class: "btn btn-primary btn-block btn-lg mt-4 mb-4" %>
    <% end %>

  </div>
</div>
