<div class="container-fluid bg-light">
  <div class="container pb-2">

    <%= render partial: "application/breadcrumbs" %>

    <h2 class="text-center mt-2 mb-2rem">
      <%= @topic.title %>
    </h2>

    <div class="box mb-2 p-4">

      <div class="d-flex flex-row topic-container">
        <div class="topic__avatar member-image mr-3">
          <div class="intrinsic-ratio-container
            intrinsic-ratio-container--square">
            <%= link_to user_path(@topic.user), class: "display-block" do %>
              <%= image_tag gravatar_image_url(@topic.user.email),
                class: "lazyload blur-up
                  img-fluid intrinsic-ratio-image user-avatar d-block",
                alt: @topic.user.name %>
            <% end %>
          </div>
        </div>

        <div class="topic__body">
          <%= link_to @topic.user.name, user_path(@topic.user),
            class: "font-weight-bold" %>
          <small class="topic__date text-muted">
            <%= local_time_ago(@topic.created_at) %>
          </small>

          <div class="mt-2">
            <%= sanitize(@topic.body) %>
          </div>

          <% if @topic.edited? %>
            <div class="mt-2">
              <small class="font-italic text-muted">
                Edited
                <% unless @topic.edited_by_author? %>
                  by <%= @topic.edited_by.name %>
                <% end %>
                <%= local_time_ago(@topic.updated_at) %>
              </small>
            </div>
          <% end %>

          <% if is_authorized_to_edit?(@topic, @group) %>
            <div class="mt-2">
              <%= link_to "Edit", edit_group_topic_path(@group, @topic) %>
            </div>
          <% end %>
        </div>
      </div>

      <% unless @comments.nil? || @comments.empty? %>
        <hr>
      <% end %>

      <%= render partial: "groups/topics/comments/comment",
        collection: @comments,
        locals: { comments: @comments } %>

    </div><!-- /.box -->

    <h3 class="text-center mt-2rem">Comment</h3>

    <%= form_for @comment,
      url: group_topic_comments_path(@group, @topic, @comment, origin: controller_name) do |f| %>
      <%= render "error_messages", object: @comment %>

      <div class="form-group box p-4 mt-2rem mb-2rem">
        <div class="form-group mb-0">
          <%= f.hidden_field :body, required: true %>
          <trix-editor input="topic_comment_body" class="form-control">
          </trix-editor>
        </div>
      </div>

      <%= f.submit "Submit a new comment",
        class: "btn btn-primary btn-block btn-lg mt-4 mb-4" %>
    <% end %>

  </div>
</div>
