<div class="col-sm-6 col-md-3 col-lg-2 mt-2rem" id="user-<%= user.id %>">
  <div class="box attendee-box d-flex flex-column align-items-center pt-4 pb-3">

    <div class="attendee-image pl-4 pr-4">
      <div class="intrinsic-ratio-container intrinsic-ratio-container--square">
        <%= link_to user_path(user, attending_event: event),
          class: "d-block" do %>
          <%= gravatar_image_tag user.email,
            class: "img-fluid intrinsic-ratio-image user-avatar", alt: user.name %>
        <% end %>
      </div>
    </div>

    <div class="attendee-name mt-2 pl-4 pr-4 text-center">
      <%= link_to user.name,
        user_path(user, attending_event: event) %>
    </div>

    <%= yield if block_given? %>
  </div>
</div>
