<% cache [@organizers, @members] do %>

  <div class="container-fluid bg-light pb-2">
    <div class="container mb-2">

      <%= render partial: "application/breadcrumbs" %>

      <div class="row">
        <div class="col-md-12 mt-3">

          <div class="row mb-2rem">
            <div class="col">

              <div class="organizers mb-4">
                <h2 class="mb-2">
                  <%= organizer_title %>
                </h3>
                <div class="row">
                  <%= render partial: "groups/user",
                    collection: @organizers.reverse, as: :user,
                    locals: {
                      object: @group,
                      group:  @group,
                      path:   "group_member_path"
                    } %>
                </div>
              </div>

              <div class="members mb-4">
                <h2 class="mt-2rem mb-2 pt-2">
                  <%= members_title_with_count %>
                </h3>
                <div class="row">
                  <%= render partial: "groups/user",
                    collection: @members.reverse, as: :user,
                    locals: {
                      object: @group,
                      group:  @group,
                      path:   "group_member_path"
                    } %>
                </div>
              </div>

              <%= link_to "Go back to group", group_path(@group) %>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
