<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 mt-2rem mb-2rem">

      <h2 class="text-center mt-2 mb-2rem">
        You're almost done!
      </h2>

      <h3 class="text-center mb-2rem">
        Now create a password to securely access your account
      </h3>

      <%= form_for(resource, as: resource_name, url: confirm_path) do |f| %>
        <%= devise_error_messages! %>

        <% if params[:invited] %>
          <%= f.hidden_field :invited,  value: true %>
          <%= f.hidden_field :group_id, value: params[:group_id] %>
        <% end %>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <small>(<%= @minimum_password_length %> characters minimum)</small>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off",
            class: "form-control" %>
        </div>

        <div class="form-group mb-2rem">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",
            class: "form-control" %>
        </div>

        <%= f.text_field :confirmation_token, hidden: true %>

        <div class="form-group mb-4">
          <%= f.submit "Confirm account",
            class: "btn btn-primary btn-block btn-lg btn-3d" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

