<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 mt-2rem mb-2rem">

      <h2 class="text-center mt-2 mb-2rem">
        Sign up
      </h2>

      <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name), validate: true) do |f| %>

        <%= devise_error_messages! %>

        <div class="form-group mt-4">
          <%= f.label :name, "What's your name?" %>
          <%= f.text_field :name, autofocus: true,
            placeholder: "Doris", class: "form-control" %>
        </div>

        <div class="form-group mb-2rem">
          <%= f.label :email, "What's your email?" %>
          <%= f.email_field :email, autocomplete: "email",
            placeholder: "doris@email.com", class: "form-control" %>
        </div>

        <div class="form-group mb-4">
          <%= f.button "Sign up",
            class: "btn btn-primary btn-block btn-lg btn-3d",
            data: { disable_with: "Signing you up... #{render 'spinner'}" } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
