<div class="row box group-box mt-2rem" id="group-<%= group.id %>">

  <div class="box-image box-image--orientation-switch card card-inverse text-center col-md-4">
    <div class="intrinsic-ratio-container intrinsic-ratio-container--orientation-switch">
      <%= link_to group_path(group), class: "d-block" do %>
        <%= image_tag  group.samplified_image_url(:loqip),
          data: {
            src:       group.samplified_image_url(:thumb),
            srcset: "#{group.samplified_image_url(:medium)} 510w,
                     #{group.samplified_image_url} 730w",
          },
          class: "lazyload blur-up
            intrinsic-ratio-image img-fluid box-image__img
            box-image__img--orientation-switch" %>
      <% end %>
    </div>
  </div>

  <div class="box-text box-text--orientation-switch box-text--accented
    card-body col-md-8 d-flex flex-column justify-content-between">
    <h3 class="h4 mb-0 pb-2 pb-md-0">
      <%= group_name_with_link(group) %>
      <% if user_is_organizer_but_not_owner(group, user) %>
        <span class="h6 d-inline-block">[Organizer]</span>
      <% end %>
    </h3>
    <p class="mb-0 pb-2 pb-md-0">
      <%= render "organizers_and_members", group: group %>
    </p>
    <%= yield if block_given? %>
  </div>

</div>
