<div class="container-fluid bg-light">
  <div class="container">
    <%= render partial: "breadcrumbs" %>

    <div class="row">
      <div class="col-md-12 mt-2">
        <div class="row mb-2rem">

          <div class="col">
            <div class="box">
              <div class="event-box-big-text">
                <h2 class="mb-3 font-italic"><%= @group.name %></h2>
                <h3 class="h4 mb-3">
                  Members (<%= @members.count %>)
                </h3>
                <ul>
                  <% @members.reverse.each_with_index do |member, i| %>
                    <li>
                      <%= i + 1 %>
                      <%= link_to member.name,
                        user_path(member, member_of: @group) %>
                    </li>
                  <% end %>
                </ul>
                <%= link_to "Go back to group", group_path(@group) %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
