<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 mt-4">
      <%= render "user_settings_tabs", user: @user %>

      <%= form_for @user,
        url: user_notification_settings_path(@user),
        html: { method: :put } do |f| %>
        <%= render "error_messages", object: @user %>

          <div class="form-group mb-2">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :membership_request_emails,
                  "Membership requests", class: "m-0" %>
              </div>

              <div class="col-md-2 d-flex justify-content-end">
                <%= f.check_box :membership_request_emails %>
              </div>
            </div>
          </div>

          <hr class="mt-3 mb-3">

          <div class="form-group mb-2">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :group_membership_emails,
                  "Group memberships", class: "m-0" %>
              </div>

              <div class="col-md-2 d-flex justify-content-end">
                <%= f.check_box :group_membership_emails %>
              </div>
            </div>
          </div>

          <hr class="mt-3 mb-3">

          <div class="form-group mb-2">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :group_role_emails,
                  "Group roles", class: "m-0" %>
              </div>

              <div class="col-md-2 d-flex justify-content-end">
                <%= f.check_box :group_role_emails %>
              </div>
            </div>
          </div>

          <hr class="mt-3 mb-3">

          <div class="form-group mb-2rem">
            <div class="row">
              <div class="col-md-10">
                <%= f.label :new_event_emails,
                  "New event", class: "m-0" %>
              </div>

              <div class="col-md-2 d-flex justify-content-end">
                <%= f.check_box :new_event_emails %>
              </div>
            </div>
          </div>

        <%= f.submit "Update",
          class: "btn btn-primary btn-block btn-lg mt-4 mb-4" %>
      <% end %>

    </div>
  </div>
</div>
