<div class="container container-semi-fluid mt-2rem">
  <div class="row box event-box">

    <div class="event-box-image box-image--orientation-switch card card-inverse text-center col-md-4">
      <div class="intrinsic-ratio-container intrinsic-ratio-container--orientation-switch">
        <%= link_to group_event_path(event.group, event),
          class: "d-block" do %>
          <%= image_tag event.image_url(:thumb),
            srcset: "#{event.image_url(:medium)} 510w, #{event.image_url} 730w",
            class: "intrinsic-ratio-image img-fluid card-img-top box-image__img box-image__img--orientation-switch" %>
        <% end %>
      </div>
    </div>

    <div class="event-box-text--orientation-switch box-text--orientation-switch event-box-text--accented
      card-body col-md-8 d-flex flex-column justify-content-between">
      <h2 class="h4 event-box__event-title mb-3 mb-md-1">
        <%= link_to event.title, group_event_path(event.group, event),
          class: "font-weight-bold" %>
      </h2>

      <p class="event-box__date font-italic mb-0 mb-md-1">
        <%= calendar_icon %>
        <%= event.start_date_prettyfied %>
      </p>

      <% if controller_name == "groups" %>
        <p class="event-box__short-description mb-0">
          <%= event.short_description %>
        </p>
      <% else %>
        <p class="event-box__group mb-0">Group: <%= event.group.name %></p>
        <p class="event-box__short-description mb-0">
          <%= event.very_short_description %>
        </p>
      <% end %>

      <p class="event-box__attending mb-0 mb-xl-2">
        Attending: <%= event.attendees.count %>
      </p>
    </div>

  </div>
</div>
