<div class="col-md-12 col-lg-4">

  <% cache [
    group.location,
    group.owner.name,
    group.recent_members
    ] do %>

    <div class="box box--sidebar group-info-box mt-lg-0 p-3">

      <div class="group-location">
        <h3 class="h4 mb-3 pb-1">
          Location
        </h3>
        <p>
          <%= location_icon %>
          <%= group.location %>
        </p>
      </div>

      <% unless authorized?(current_user, group)  %>

        <div class="admin-preview">
          <h3 class="h4 mb-3">
            Admin
          </h3>
          <ul>
            <li>
              <%= link_to group.owner.name,
                group_member_path(group, group.owner) %>
            </li>
          </ul>
        </div>

      <% end %>

      <div class="members-preview mt-3">
        <h3 class="h4 mb-1">
          <%= members_title_with_count %>
        </h3>

        <% if authorized?(current_user, group) %>
          <ul class="mt-3">
            <% if !group.members_with_role.empty? %>
              <%= render partial: "list_member",
                collection: group.recent_members,
                as: :member, locals: { group: group }, cached: true %>
            <% else %>
              <li>
                So far there are no members
              </li>
            <% end %>
          </ul>

          <%= see_all_members_link(group, quantity: 5) %>
        <% end %>
      </div>

    </div>

  <% end %>

  <div class="box box--sidebar group-info-box p-3">

    <% if authorized?(current_user, group) %>
      <div class="group-link mt-1">
        <%= button_tag "Copy group link", id: "btn-group-link",
          class: "btn btn-outline-primary btn-block btn-lg",
          data:
            {
              "clipboard-text": request.url,
              toggle:           "tooltip",
              placement:        "top",
              delay:            { hide: 200 }
            },
          title: "Copied!" %>
      </div>
    <% end %>

    <% if has_organizer_role?(current_user, group) %>
      <div class="group-options mt-3">
        <%= link_to "Create event", new_group_event_path(group),
          class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <% unless authorized?(current_user, group) %>
      <div class="group-membership">
        <h4 class="h5">Would you like to be part?</h4>
        <%= membership_button(group) %>
      </div>
    <% end %>

  </div>

</div>
