<div class="container container-semi-fluid mt-2rem">
  <div class="row box event-box">

    <div class="event-box-image box-image--orientation-switch card card-inverse text-center col-md-4">
      <div class="intrinsic-ratio-container
        intrinsic-ratio-container--orientation-switch">
        <%= link_to group_event_path(event.group, event),
          class: "d-block" do %>
          <%= image_tag  event.image_base64,
            data: {
              src:       event.samplified_image_url(:thumb),
              srcset: "#{event.samplified_image_url(:medium)} 510w,
                       #{event.samplified_image_url} 730w",
            },
            class: "lazyload blur-up
              intrinsic-ratio-image img-fluid card-img-top
              box-image__img box-image__img--orientation-switch" %>
        <% end %>
      </div>
    </div>

    <div class="event-box-text--orientation-switch box-text--orientation-switch event-box-text--accented
      card-body col-md-8 d-flex flex-column justify-content-between">
      <!-- Event Title -->
      <h2 class="h4 event-box__event-title mb-2 mb-md-1">
        <%= link_to event.title, group_event_path(event.group, event),
          class: "font-weight-bold" %>
      </h2>

      <!-- Event Date -->
      <p class="event-box__date mb-0">
        <%= calendar_icon %>
        <%= event.start_date_prettyfied %>
      </p>

      <!-- Event Address -->
      <p class="event-box__address mb-0">
        <%= location_icon %>
        <%= link_to event.full_address,
          group_event_path(event.group, event) + "#map" %>
      </p>

      <!-- Event Attendees -->
      <p class="event-box__attending mb-0">
        <%= person_icon %>
        <%= link_to "#{event.attendees.count} " +
          "attendee".pluralize(event.attendees.count),
          event_attendees_path(event) %>
      </p>

      <!-- Event Comments -->
      <p class="event-box__comments mb-0 mb-xl-1 mt-2 mt-md-0">
        <%= comments_icon %>
        <%= link_to group_event_path(event.group, event) + "#comments" do %>
          <%= "#{event.comments.count} " +
            "comment".pluralize(event.comments.count)%>
        <% end %>
      </p>
    </div>

  </div>
</div>
