<div class="col-sm-12 col-md-6 col-lg-4 mt-2rem">
  <div class="box group-box">

    <div class="group-box-image intrinsic-ratio-container card card-inverse text-center">
      <%= image_tag  group.samplified_image_url(:loqip),
        data: {
          src:       group.samplified_image_url(:thumb),
          srcset: "#{group.samplified_image_url(:medium)} 510w,
                   #{group.samplified_image_url} 730w",
        },
        class: "lazyload blur-up
          intrinsic-ratio-image img-fluid card-img-top" %>

      <a href="<%= group_path(group) %>" class="group-card-link">
        <div class="card-img-overlay card-img-overlay--group">
          <div class="card-title card-title--group mb-0">
            <h2 class="h4 mb-1 event-box-title">
              <%= group.name %>
            </h2>
            <p class="mb-0">Members: <%= group.members_with_role.count %></p>
          </div>
        </div>
      </a>
    </div>

    <div class="group-box-text">
      <p class="mb-0">
        <%= location_icon %>
        <%= group.location %>
      </p>
    </div>

  </div>
</div>
