<div class="col-sm-6 col-md-3 col-lg-2 mt-2rem" id="user-<%= user.id %>">
  <div class="box member-box d-flex flex-column align-items-center pt-4 pb-3">

    <div class="member-image pl-4 pr-4">
      <div class="intrinsic-ratio-container intrinsic-ratio-container--square">
        <%= link_to group_member_path(group, user),
          class: "d-block" do %>
          <%= image_tag gravatar_image_url(user.email),
            class: "lazyload blur-up
              img-fluid intrinsic-ratio-image user-avatar d-block",
            alt: user.name %>
        <% end %>
      </div>
    </div>

    <div class="member-name mt-2 pl-4 pr-4 text-center">
      <%= link_to user.name,
        group_member_path(group, user) %>
    </div>

    <div class="member-name mt-2 pl-4 pr-4 text-center">
      <%= "#{user.group_comments_number(group)} cmts" %>
    </div>
  </div>
</div>
