<header class="container-fluid bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-4">

        <div class="row mb-2rem">
          <div class="col-md-8">
            <div class="box group-box">

              <div class="group-box-big-image group-image card card-inverse">
                <%= image_tag(@group.image_url,
                  class: "img-fluid card-img-top") %>
                <div class="card-img-overlay">
                  <h2 class="h4 group-box-title">
                    <%= @group.name %>
                  </h2>
                </div>
              </div>

              <div class="event-box-big-text">
                <p><%= sanitize @group.description %></p>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="box group-info-box p-3">

              <div class="group-location">
                <h3 class="h4 mb-3">
                  Location
                </h3>
                <p>
                  <%= @group.location %>
                </p>
              </div>

              <div class="organizers-preview">
                <h3 class="h4 mb-3">
                  <%= organizer_title %>
                </h3>
                <ul class="list-unstyled">
                  <% @group.organizers.last(5).each do |organizer| %>
                    <li>
                      <%= link_to organizer.name,
                        user_path(organizer, organizer_of: @group) %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="members-preview mt-3">
                <% if has_membership?(current_user, @group) %>
                  <h3 class="h4 mb-3">
                    <%= members_title_with_count %>
                  </h3>
                  <ul class="list-unstyled">
                    <% @group.members_with_role.last(5).each do |member| %>
                      <li>
                        <%= link_to member.name,
                          user_path(member, member_of: @group) %>
                      </li>
                    <% end %>
                  </ul>
                  <%= see_all_members_link(@group, quantity: 5) %>
                <% elsif @group.members_with_role.count > 0 %>
                  <h3 class="h4 mb-3">
                    <%= "Member".pluralize(@group.members_with_role.count) %>
                  </h3>
                  <p class="h5">
                    <%= @group.members_with_role.count %>
                  </p>
                <% end %>
              </div>

              <% if has_organizer_role?(current_user, @group) %>
                <div class="group-options mt-4">
                  <%= link_to "Create event", new_group_event_path(@group),
                    class: "btn btn-primary btn-block btn-lg mt-3" %>
                </div>
              <% end %>

              <% unless has_membership?(current_user, @group) %>
                <div class="group-membership mt-4">
                  <h4 class="h5">Would you like to be part?</h4>
                  <%= membership_button(@group) %>
                </div>
              <% end %>

            </div>
          </div>
        </div><!-- /.row -->

      </div>
    </div><!-- /.row -->

  </div>
</header>

<% if has_membership?(current_user, @group) %>
  <%= render "events", group: @group, events: @events %>
  <%= render "members", group: @group %>
<% end %>
