<header class="container-fluid bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-4 pt-1">

        <div class="row mb-2rem">
          <%= render "group_main_content", group: @group %>
          <%= render "group_sidebar", group: @group %>
        </div><!-- /.row -->

      </div>
    </div><!-- /.row -->

  </div>
</header>

<% if authorized?(current_user, @group) %>

  <%= render "events", group: @group, events: @events %>
  <%= render "members", group: @group %>

<% else %>

  <% content_for :unhidden_groups_title do %>
    Other Unhidden Groups
  <% end %>

  <%= render "groups/unhidden_groups", unhidden_groups: @unhidden_groups %>

<% end %>
