<%= form_for @user do |f| %>
  <%= render "error_messages", object: @user %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="edit-profile d-flex align-items-baseline mt-2rem mb-4"
    id="edit-profile">
    <hr class="edit-profile__hr d-inline-block">
    <h3 class="edit-profile__heading h5 font-italic">Edit Profile</h3>
    <hr class="edit-profile__hr d-inline-block">
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, rows:"6", class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <div class="avatar-container border rounded text-center pt-3 pb-2">
      <%= gravatar_image_tag @user.email, alt: @user.name,
          class: "avatar__image" %>
      <%= link_to "Change Gravatar", "https://en.gravatar.com/emails/",
        target: "blank", class: "d-block mt-2" %>
    </div>
  </div>

  <div class="email-notifications d-flex align-items-baseline mt-2rem mb-4"
    id="email-notifications">
    <hr class="email-notifications__hr d-inline-block">
    <h3 class="email-notifications__heading h5 font-italic">
      Email Notifications
    </h3>
    <hr class="email-notifications__hr d-inline-block">
  </div>

  <div class="form-group mb-2">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :membership_request_emails, "Membership requests" %>
      </div>

      <div class="col-md-6">
        <%= f.check_box :membership_request_emails %>
      </div>
    </div>
  </div>

  <div class="form-group mb-2rem">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :group_membership_emails, "Group memberships" %>
      </div>

      <div class="col-md-6">
        <%= f.check_box :group_membership_emails %>
      </div>
    </div>
  </div>

  <%= f.submit yield(:button_text),
    class: "btn btn-primary btn-block btn-lg mt-4 mb-4" %>
<% end %>
