<div class="row">
  <div class="col-md-12">
    <h2><%= @user.name %></h2>
    <% unless @user.organized_events.empty? %>
      <h3>Organized Events</h3>
      <ul>
        <% @user.organized_events.each do |event| %>
          <li>
            <h4><%= event.title %></h4>
            <p><%= event.description %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><%= @user.name %> has no organized events.</p>
    <% end %>
    <% unless @user.attended_events.empty? %>
      <h3>Attended Events</h3>
      <ul>
        <% @user.attended_events.each do |event|  %>
          <li><%= link_to event.title, event_path(event) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
