<div class="container-fluid bg-light">
  <div class="container pb-4">

    <% if @group || @event %>
      <div class="mb-2">
        <%= render partial: "breadcrumbs" %>
      </div>
    <% else %>
      <div class="mt-4 pt-1"></div>
    <% end %>

    <div class="box mb-2 p-4 text-center">

      <div class="row mb-2">
        <div class="col-md-12">
          <% if @user == current_user %>
            <div class="edit-profile-link mb-3">
              <%= link_to "(Edit profile)", edit_user_path(@user) %>
            </div>
          <% end %>

          <h2 class="mb-4 d-inline-block">
            <%= @user.name %>
          </h2>

          <div class="user-profile-image-container">
            <div class="intrinsic-ratio-container intrinsic-ratio-container--square">
              <%= gravatar_image_tag @user.email, alt: @user.name,
                class: "intrinsic-ratio-image user-avatar" %>
            </div>
          </div>
        </div>
      </div>

      <% if @user.location %>
        <div class="row">
          <div class="col-md-12 mt-4">
            <h3 class="h4 profile-heading">Location</h3>
            <p class="mb-0">
              <%= @user.location %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @user.bio %>
        <div class="row">
          <div class="col-md-12 mt-4">
            <h3 class="h4 profile-heading">Bio</h3>
            <p class="mb-0">
              <%= @user.bio %>
            </p>
          </div>
        </div>
      <% end %>

      <% unless @last_organized_events.empty? %>
        <div class="row">
          <div class="col-md-12 mt-4">
            <h3 class="h4 profile-heading organized-events-heading">
              <%= organized_events_header(@user.organized_events) %>
            </h3>
            <div class="row d-flex justify-content-center">
              <%= render @last_organized_events %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
