<div class="d-flex flex-row comment-container" id="comment-<%= comment.id %>">
  <div class="comment__avatar member-image mr-3">
    <div class="intrinsic-ratio-container
      intrinsic-ratio-container--square">
      <%= link_to user_path(comment.user), class: "display-block" do %>
        <%= image_tag gravatar_image_url(comment.user.email),
          class: "lazyload blur-up
            img-fluid intrinsic-ratio-image user-avatar d-block",
          alt: comment.user.name %>
      <% end %>
    </div>
  </div>

  <div class="comment__body">
    <%= link_to comment.user.name, user_path(comment.user),
      class: "font-weight-bold" %>
    <small class="comment__date text-muted">
      <%= local_time_ago(comment.created_at) %>
    </small>

    <div class="mt-2">
      <%= sanitize(comment.body) %>
    </div>

    <% if comment.edited? %>
      <%= render "groups/topics/edited_by", object: comment %>
    <% end %>

    <% if is_authorized_to_edit?(comment, comment.topic.group) %>
      <div class="mt-2">
        <%= link_to "Edit",
          edit_comment_path(comment, origin: controller_name) %>
      </div>
    <% end %>
  </div>
</div>

<% unless comment == comments.last %>
  <hr>
<% end %>
