<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">

        <% if @owned_groups.any? %>
          <h2 class="text-center mt-5 mb-2rem">Owned Groups</h2>
          <div class="d-flex flex-column mt-4">
            <% @owned_groups.each do |group| %>

              <div class="row d-flex event-group">
                <div class="mr-2">
                  <a href="<%= group_path(group) %>">
                    <%= image_tag group.image.thumb, width: "170" %>
                  </a>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <h3 class="h4 mb-0">
                    <%= link_to group.name, group_path(group) %>
                  </h3>
                  <p class="mb-0">
                    <%= group_organizers(group) %>
                    <span> | </span>
                    <%= group_members(group) %>
                    <%= link_to "(See all)", group_members_path(group) %>
                  </p>
                  <%= link_to "Edit group", edit_group_path(group) %>
                </div>
              </div>
              <hr class="user-group-list-hr mt-3 mb-3">

            <% end %>
          </div>
        <% end %>

        <% if @associated_groups.any? %>
          <h2 class="text-center mt-5 mb-2rem">With Membership</h2>
          <div class="d-flex flex-column mt-4">
            <% @associated_groups.each do |group| %>

              <div class="row d-flex event-group">
                <div class="mr-2">
                  <a href="<%= group_path(group) %>">
                    <%= image_tag group.image.thumb, width: "170" %>
                  </a>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <h3 class="h4 mb-0">
                    <%= link_to group.name, group_path(group) %>
                    <% if @user.has_role?(:organizer, group) %>
                      <span class="h6 d-inline-block">[Organizer]</span>
                    <% end %>
                  </h3>
                  <p class="mb-0">
                    <%= group_organizers(group) %>
                    <span> | </span>
                    <%= group_members(group) %>
                    <%= link_to "(See all)", group_members_path(group) %>
                  </p>
                  <%= link_to "Cancel membership",
                    group_member_path(group, current_user),
                    method: :delete,
                    data: { confirm: "Are you sure to cancel your membership to '#{group.name}'?"} %>
                </div>
              </div>
              <hr class="user-group-list-hr mt-3 mb-3">

            <% end %>
          </div>
        <% end %>

        <div class="row mt-4">
          <%= link_to "Create group", new_group_path,
            class: "btn btn-primary btn-lg btn-block mt-2rem mb-4" %>
        </div>

      </div>
    </div>
  </div>
</div>
