<div id="<%= membership_request.id %>"
  class="row row-membership-request d-flex mb-3">
  <div class="mr-2 membership-request-group-image"
    style="
    background-image: url(<%= membership_request.group.image_url %>)
    ">
  </div>
  <div class="d-flex flex-column justify-content-between
    membership-request-info">
    <h3 class="h6 font-weight-bold mt-1 mb-1">
      <%= link_to membership_request.group.name,
        group_path(membership_request.group) %>
    </h3>
    <p class="mb-0">
      <%= message_for(membership_request) %>
    </p>
    <div class="request-links">
      <%= link_to "Cancel request",
        group_membership_request_path(
          membership_request.group,
          membership_request),
        method: :delete,
        data: { confirm: "Are you sure to cancel your request?" } %>
    </div>
  </div>
</div>
