<div id="<%= membership_request.id %>" class="row d-flex mb-4 box bg-white">

  <a href="<%= group_path(membership_request.group) %>"
    class="overflow-hidden">
    <div class="lazyload blur-up overflow-hidden membership-request-image"
      style="background-image:
        url(<%= membership_request.group.image_url(:loqip) %>)"
      data-bg="<%= membership_request.group.image_url(:thumb) %>">
    </div>
  </a>

  <div class="d-flex flex-column justify-content-between
    membership-request-info ml-2 pl-1 pt-2 pb-2">
    <h3 class="h6 font-weight-bold mt-1 mb-2 mb-md-1 pb-1 pb-md-0">
      <span class="font-weight-normal">To</span>
      <span>
        <%= link_to membership_request.group.name,
          group_path(membership_request.group) %>
      </span>
    </h3>

    <p class="mb-2 mb-md-0">
      <%= message_for(membership_request) %>
    </p>

    <div class="membership-request-links">
      <%= link_to "Cancel request",
        group_membership_request_path(
          membership_request.group,
          membership_request),
        method: :delete,
        data: { confirm: "Are you sure to cancel your request?" } %>
    </div>
  </div>

</div>
