<% cache do %>

  <div class="container-fluid bg-light">
    <div class="container promo-container">
      <div class="row">
        <div class="col-md-12 mt-2rem mb-2rem">

          <!-- Slogan -->

          <div class="promo promo__text text-center mt-2">

            <h2 class="promo__header font-weight-bold">
              Private communities
              <br>
              around events
            </h2>

            <!-- Three Main Points -->

            <section class="promo__section--main">
              <div class="mt-5 mb-5">
                <p class="mb-2 mb-sm-3">
                  Create a private group.
                </p>
                <p class="mb-2 mb-sm-3">
                  Build a community.
                </p>
                <p class="mb-2 mb-sm-3">
                  Organize private events.
                </p>
              </div>
            </section>

            <!-- Hidden Group -->

            <section class="promo__section">
              <div class="mt-5 mb-5">
                <p class="promo__image-description">
                  All groups are <em>private</em> and can be <em>hidden</em> (so only the people you want can see them).
                </p>

                <%= render "browser_window",
                  image_file: "hidden_group.png",
                  alt:        "Hidden group notice page" %>
              </div>
            </section>

            <hr class="promo__hr w-50">

            <!-- Invitee View -->

            <section class="promo__section">
              <div class="mt-5 mb-5">
                <p class="promo__image-description">
                  People need to <em>request membership</em> or <em>be invited</em> to join your groups.
                </p>

                <%= render "browser_window",
                  image_file: "rave_up.png",
                  alt:        "Group view for invited person" %>
              </div>
            </section>

            <hr class="promo__hr w-50">

            <!-- Event View -->

            <section class="promo__section">
              <div class="mt-5 mb-5">
                <p class="promo__image-description">
                  Events (as everything else) are <em>only visible</em> to group members.
                </p>

                <%= render "browser_window",
                  image_file: "sample_event.png",
                  alt:        "Event view" %>
              </div>
            </section>

            <hr class="promo__hr w-50">

            <!-- Forum -->

            <section class="promo__section">
              <div class="mt-5 mb-5">
                <p class="promo__image-description">
                  Every group has its own <em>forum</em>, to discuss anything comfortably.
                </p>

                <%= render "browser_window",
                  image_file: "latest_topics.png",
                  alt:        "Latest topics" %>
              </div>
            </section>

            <hr class="promo__hr w-50">

            <!-- Most Involved Members -->

            <section class="promo__section">
              <div class="mt-5 mb-5">
                <p class="promo__image-description">
                  Group members are rewarded with <em>points</em> for participating in the forum or attending events.
                </p>

                <%= render "browser_window",
                  image_file: "most_involved_members.png",
                  alt:        "Most involved members" %>
              </div>
            </section>

          </div><!-- /.promo -->

          <!-- Sign Up Box -->

          <div class="row promo__section--sign-up">
            <div class="col-lg-10 col-xl-8 mx-auto mt-2rem">

              <div class="promo__sign-up-form-container">
                <h3 class="sign-up-form__title h2 mb-2rem">
                  Start building your community!
                </h3>

                <%= form_for(resource, as: resource_name,
                  url: registration_path(resource_name),
                  validate: true) do |f| %>

                  <div class="form-group mt-4">
                    <%= f.label :name, "What's your name?",
                      class: "sign-up-form__label" %>
                    <%= f.text_field :name,
                      placeholder: "Doris", class: "form-control" %>
                  </div>

                  <div class="form-group mb-2rem">
                    <%= f.label :email, "What's your email?",
                      class: "sign-up-form__label" %>
                    <%= f.email_field :email, autocomplete: "email",
                      placeholder: "doris@email.com", class: "form-control" %>
                  </div>

                  <div class="form-group mb-0">
                    <%= f.button "Sign up and get started!",
                      class: "btn btn-xl btn-primary
                      btn-block font-weight-bold white-space-normal",
                      data: { disable_with: "Signing you up... &nbsp;#{render 'spinner'}" } %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
