<% if user_signed_in? %>

  <!-- Welcome Modal -->
  <% if welcomable?  %>
    <%= render "welcome_modal" %>
  <% end %>

  <div class="main-user-content">

    <!-- Events -->
    <%= render "events",
      events:       @events,
      events_count: @events_count,
      user_groups:  @user_groups %>

    <!-- User Groups -->
    <%= render "user_groups", user_groups: @user_groups %>

  </div>

<% else %>

  <%= render "promo" %>

<% end %>

<!-- Unhidden Groups -->
<% content_for :unhidden_groups_title do %>
  Unhidden Groups
<% end %>

<%= render "groups/unhidden_groups", unhidden_groups: @unhidden_groups %>
