<div class="container-fluid bg-light pb-2">
  <div class="container mb-3">

    <div class="row justify-content-md-center">
      <div class="col-md-8 text-center">

        <h2 class="text-center mt-2rem mb-2rem pt-2 pb-2">
          Request membership:

          <p class="mt-2 mb-0 font-italic">
            <%= @group.name %>
          </p>
        </h2>

        <%= form_for @membership_request,
          url: group_membership_requests_path(@group), method: :post do |f| %>
          <%= render "error_messages", object: @membership_request %>

          <div class="form-group box p-4 mt-2rem mb-2rem">
            <h3 class="h4 mb-3">
              Would you like to add a message?
            </h3>

            <div class="form-group mt-1rem mb-0">
              <%= f.label :message, hidden: true %>
              <small class="text-muted">Optional *</small>
              <%= f.text_area :message, class: "form-control" %>
            </div>
          </div>

          <%= f.submit "Send request",
            class: "btn btn-primary btn-block btn-lg btn-3d mt-4 mb-4" %>
        <% end %>

      </div>
    </div>

  </div>
</div>
