<div class="col-sm-12 col-md-6 col-lg-4 mt-2rem">
  <div class="box event-box">

    <div class="intrinsic-ratio-container card card-inverse text-center accent-border-bottom">
      <%= image_tag event.image_url(:thumb),
        srcset: "#{event.image_url(:medium)} 510w, #{event.image_url} 730w",
        class: "intrinsic-ratio-image img-fluid card-img-top" %>
      <a href="<%= group_event_path(event.group, event) %>">
        <div class="card-img-overlay accent-border-bottom">
          <div class="card-title card-title--event mb-0">
            <h2 class="h4 mb-0 event-box-title">
              <%= event.title %>
            </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="event-box-text">
      <p class="mb-0 event-box__date">
        <%= calendar_icon %>
        <%= event.start_date_prettyfied %>
      </p>
    </div>

  </div>
</div>
