<div class="col-md-4 mt-2rem">
  <div class="box event-box">
    <div class="event-box-image card card-inverse text-center">
      <%= image_tag event.image_url(:thumb), class: "img-fluid card-img-top" %>
      <div class="card-img-overlay">
        <h2 class="h4 card-title">
        <%= link_to event.title, group_event_path(event.group, event),
          class: "event-box-title" %>
        </h2>
      </div>
    </div>
    <div class="event-box-text card-body">
      <p class="event-box-date">
        <% if event.start_date.year == Time.now.year %>
          <%= event.start_date.strftime("%A, %B %d") %>
        <% else %>
          <%= event.start_date.strftime("%A, %B %d, %Y") %>
        <% end %>
      </p>
      <p class="mb-0"><%= event.short_address %></p>
    </div>
  </div>
</div>
