<div class="col-sm-12 col-md-6 col-lg-4 mt-2rem">
  <div class="box event-box" id="event-<%= event.id %>">

    <div class="intrinsic-ratio-container card card-inverse text-center accent-border-bottom">
      <%= image_tag  event.image_base64,
        data: {
          src:       event.samplified_image_url(:thumb),
          srcset: "#{event.samplified_image_url(:medium)} 510w,
                   #{event.samplified_image_url} 730w",
        },
        class: "lazyload blur-up
          intrinsic-ratio-image img-fluid card-img-top" %>

      <a href="<%= group_event_path(event.group, event) %>">
        <div class="card-img-overlay accent-border-bottom">
          <div class="card-title mb-0">
            <h2 class="h4 mb-0 box-title">
              <%= event.title %>
            </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="event-box-text">
      <p class="event-box__date mb-0 ">
        <%= calendar_icon %>
        <%= event.start_date_prettyfied %>
      </p>

      <p class="mt-1 mb-0">
        <%= comments_icon %>
        <%= link_to group_topic_path(event.group, event.topic) do %>
          <%= "#{event.comments.count} " +
            "comment".pluralize(event.comments.count)%>
        <% end %>
      </p>
    </div>

  </div>
</div>
