<div class="box event-box">

  <div class="card card-inverse text-center accent-border-bottom">
    <%= image_tag event.image_url(:thumb), class: "img-fluid card-img-top" %>
    <a href="<%= group_event_path(event.group, event) %>">
      <div class="card-img-overlay accent-border-bottom">
        <div class="card-title card-title--event mb-0">
          <h2 class="h4 mb-1 event-box-title">
            <%= event.title %>
          </h2>
        </div>
      </div>
    </a>
  </div>

  <div class="event-box-text">
    <p class="mb-0 event-box__date">
      <%= calendar_icon %>
      <%= event.start_date_prettyfied %>
    </p>
  </div>

</div>
