<div class="col-md-12 col-lg-4">

  <% cache [event.organizer.name, event.recent_attendees] do %>

    <!-- Event Organizer and Attendees -->
    <div class="event-info-box box box--sidebar mt-lg-0 py-3">

      <div class="organizers-preview">
        <h3 class="h4 mb-3">
          Organizer
        </h3>

        <ul>
          <li>
            <%= link_to event.organizer.name,
              event_attendee_path(event, event.organizer),
              class: "mb-2rem" %>
          </li>
        </ul>
      </div>

      <div class="attendees-preview">
        <h3 class="h4 mt-3 mb-3">
          Attendees (<%= event.attendees.count %>)
        </h3>

        <% unless event.attendees.empty? %>

          <ul>
            <%= render partial: "list_attendee",
              collection: event.recent_attendees, as: :attendee,
              locals: { event: event }, cached: true %>
          </ul>

          <% if more_attendees?(event) %>
            <%= link_to "See all attendees", event_attendees_path(event) %>
          <% end %>

        <% else %>
          <ul>
            <li>
              So far there are no attendees
            </li>
          </ul>
        <% end %>
      </div>

    </div><!-- /.box -->

  <% end %><!-- cache end -->

  <!-- Sidebar Links -->
  <% if logged_in? %>
    <div class="box box--sidebar p-3">

      <div class="quick-access">

        <div>
          <span class="mr-1"><%= location_icon %></span>
          <%= link_to "See location in map", "#map",
            data: { turbolinks: false } %>
        </div>

        <% if website? %>
          <div class="mt-2">
            <span class="mr-1"><%= link_icon %></span>
            <%= link_to "Visit event website", event.website %>
          </div>
        <% end %>

      </div>

    </div><!-- /.box -->
  <% end %>

  <!-- Attendance Button -->
  <% if logged_in? && !author?(event) %>
    <div class="box box--sidebar p-3">

      <div class="attendance">

        <% if not_attending?(event) %>

          <h4 class="h5">Would you like to attend?</h4>
          <%= link_to "Attend",
            event_attendances_path(event),
            method: :post,
            class: "btn btn-primary btn-block btn-lg mt-3" %>

        <% else %>

          <h4 class="h5">You are attending this event!</h4>
          <%= link_to "Cancel attendance",
            event_attendance_path(event),
            method: :delete,
            class: "btn btn-secondary btn-block btn-lg mt-3",
            data: { confirm: "Are you sure to cancel your attendance?" } %>
        <% end %>

      </div>

    </div><!-- /.box -->
  <% end %>

  <%= edit_event_box(event, @group) %>

</div>
