<div class="container-fluid bg-light">
  <div class="container">

    <%= render partial: "application/breadcrumbs" %>

    <div class="row">
      <div class="col-md-12 mt-2">

        <div class="row">
          <%= render "event_main_content", group: @group, event: @event %>
          <%= render "event_sidebar", group: @group, event: @event %>
        </div><!-- /.row -->

      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light pt-4" id="comments">
  <div class="container mb-2rem pb-1">

    <h2 class="text-center mt-2 mb-2rem pt-2 pb-2">
      Comments
    </h2>

    <div class="box topic-box comments-container mb-2 p-4">
      <% unless @comments.empty? %>
        <%= render partial: "groups/topics/comments/comment",
          collection: @comments,
          locals: { comments: @comments } %>
      <% else %>
        <p class="lead text-center mb-0">
          So far there are no comments. You can be the first commenter!
        </p>
      <% end %>
    </div>

    <%= form_for @comment,
      url: group_topic_comments_path(@group, @event.topic, @comment, origin: controller_name) do |f| %>
      <%= render "error_messages", object: @comment %>

      <div class="form-group box comment-box--event p-4 mb-0">
        <div class="form-group mb-0">
          <%= f.hidden_field :body, required: true %>
          <trix-editor input="topic_comment_body"
            class="form-control trix-editor-topic trix-editor--comment">
          </trix-editor>
        </div>

        <%= f.submit "Submit a new comment",
          class: "btn btn-primary btn-block btn-lg mt-4
            white-space-normal" %>
      </div>
    <% end %>

  </div>
</div>

<% cache @event.attendees.last(12) do %>

  <div class="container-fluid bg-light">
    <div class="container attendees-container pb-4">

      <div class="row mt-2">
        <div class="col-md-12 mb-2rem">

          <h2 class="text-center">
            <%= attendees_title_with_count %>
          </h2>

          <% if !@event.attendees.empty? %>

            <div class="row d-flex justify-content-center mt-1rem mb-2rem">
              <%= render partial: "events/attendances/attendee",
                collection: @event.attendees.last(12), as: :user,
                locals: { event: @event }, cached: true %>
            </div>

          <% else %>

            <h3 class="h5 text-center mt-5">
              So far there are no attendees.
            </h3>

          <% end %>

          <div class="text-center">
            <%= see_all_attendees_link(@event, quantity: 12) %>
          </div>

        </div>
      </div>

    </div>
  </div>

<% end %>

<% cache @event.address do %>

  <div id="map" class="container-fluid p-0"
    data-token="<%= Figaro.env.mapbox_access_token %>"
    data-latitude="<%= @event.latitude %>"
    data-longitude="<%= @event.longitude %>"
    data-event-title="<%= @event.title %>"
    data-marker-url="<%= asset_path('leaflet/marker-icon-violet.png') %>"
    data-marker-2x-url="<%= asset_path('leaflet/marker-icon-2x-violet.png') %>"
    data-shadow-url="<%= asset_path('leaflet/marker-shadow.png') %>">
  </div>

<% end %>
