<div class="container-fluid bg-light">
  <div class="container container-semi-fluid">

    <%= render partial: "breadcrumbs" %>

    <div class="row">
      <div class="col-md-12 mt-2">

        <div class="row mb-2rem">
          <%= render "event_main_content", group: @group, event: @event %>
          <%= render "event_sidebar", group: @group, event: @event %>
        </div><!-- /.row -->

      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light">
  <div class="container container-semi-fluid attendees-container pb-5">

    <div class="row mt-2">
      <div class="col-md-12">

        <h2 class="text-center">
          <%= attendees_title_with_count %>
        </h2>

        <% if !@attendees.empty? %>

          <div class="row d-flex justify-content-center mt-1rem mb-2rem">
            <% @attendees.last(12).each do |attendee| %>
              <%= render "events/attendances/attendee",
                user: attendee, event: @event %>
            <% end %>
          </div>

        <% else %>

          <h3 class="h5 text-center mt-5">
            There are still no attendees.
          </h3>

        <% end %>

        <div class="text-center">
          <%= see_all_attendees_link(@event, quantity: 12) %>
        </div>

      </div>
    </div>

  </div>
</div>

<div id="map" class="container-fluid p-0"
  data-token="<%= Figaro.env.mapbox_access_token %>"
  data-latitude="<%= @event.latitude %>"
  data-longitude="<%= @event.longitude %>"
  data-event-title="<%= @event.title %>"
  data-marker-url="<%= asset_path('leaflet/marker-icon-violet.png') %>"
  data-marker-2x-url="<%= asset_path('leaflet/marker-icon-2x-violet.png') %>"
  data-shadow-url="<%= asset_path('leaflet/marker-shadow.png') %>">
</div>
