<div class="container-fluid bg-light">
  <div class="container">

    <%= render partial: "breadcrumbs" %>

    <div class="row">
      <div class="col-md-12 mt-2">

        <div class="row mb-2rem">
          <div class="col-md-8">

            <div class="box">
              <div class="event-box-big-image">
                <%= image_tag(@event.image_url,
                  class: "event-box-big__img img-fluid") %>
              </div>
              <div class="event-box-big-text">
                <h2 class="mb-3 font-italic"><%= @event.title %></h2>

                <p>
                  <%= calendar_icon %>
                  <%= @event.start_date_prettyfied %>
                  <% unless same_time?(@event) %>
                    - <%= @event.end_date_prettyfied %>
                  <% end %>
                </p>

                <p>
                  <%= location_icon %>
                  <%= link_to @event.full_address, "#map",
                    data: { turbolinks: false } %>
                </p>

                <% if website? %>
                  <p>
                    <%= link_icon %>
                    <%= link_to @event.website, @event.website %>
                  </p>
                <% end %>

                <%= sanitize @event.description %>

                <% if author?(@event) && !@group.sample_group? %>
                  <p class="mt-4 mb-0">
                    <%= link_to "Edit event",
                      edit_group_event_path(@group, @event) %> |
                     <%= link_to "Delete event",
                      group_event_path(@group, @event),
                      method: :delete, data: { confirm: "Are you sure?"} %>
                  </p>
                <% end %>
              </div>
            </div><!-- /.box -->

          </div>

          <div class="col-md-4">
            <div class="box p-3">

              <div class="organizers-preview">
                <h3 class="h4 mb-3">
                  Organizer
                </h3>
                <ul>
                  <li>
                    <%= link_to @event.organizer.name,
                      user_path(@event.organizer, organized_event: @event),
                      class: "mb-2rem" %>
                  </li>
                </ul>
              </div>

              <div class="attendees-preview">
                <h3 class="h4 mt-3 mb-3">
                  Attendees (<%= @event.attendees.count %>)
                </h3>
                <% unless no_attendees?(@event) %>
                  <ul>
                  <% @attendees.each do |attendee| %>
                    <li>
                      <%= link_to attendee.name,
                        user_path(attendee, attending_event: @event) %>
                    </li>
                  <% end %>
                  </ul>
                  <% if more_attendees?(@event) %>
                    <%= link_to "See all attendees",
                      event_attendances_path(@event) %>
                  <% end %>
                <% else %>
                  <p class="mb-0">
                    So far there are no attendees for this event.
                  </p>
                <% end %>
              </div>

              <% if logged_in? %>
                <% if !author?(@event) %>
                  <div class="attendance mt-3">
                    <% if not_attending?(@event) %>
                      <h4 class="h5">Would you like to attend?</h4>
                      <%= link_to "Attend",
                        event_attendances_path(@event),
                        method: :post,
                        class: "btn btn-primary btn-block btn-lg mt-3" %>
                    <% else %>
                      <h4 class="h5">Yay! You are attending this event!</h4>
                      <%= link_to "Cancel attendance",
                        event_attendance_path(@event),
                        method: :delete,
                        class: "btn btn-secondary btn-block btn-lg mt-3",
                        data: { confirm: "Are you sure to cancel your attendance?" } %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="map" class="container-fluid p-0"
  data-token="<%= Figaro.env.mapbox_access_token %>"
  data-latitude="<%= @event.latitude %>"
  data-longitude="<%= @event.longitude %>"
  data-event-title="<%= @event.title %>"
  data-marker-url="<%= asset_path('leaflet/marker-icon-violet.png') %>"
  data-marker-2x-url="<%= asset_path('leaflet/marker-icon-2x-violet.png') %>"
  data-shadow-url="<%= asset_path('leaflet/marker-shadow.png') %>">
</div>
