<div class="container-fluid bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="row mb-2rem">
          <div class="col-md-8">
            <div class="box">
              <div class="event-box-big-image">
                <%= image_tag(@event.image_url, class: "img-fluid") %>
              </div>
              <div class="event-box-big-text">
                <h2 class="mb-3 font-italic"><%= @event.title %></h2>
                <p>
                  <% if @event.start_date.year == Time.now.year %>
                    <%= @event.start_date.strftime("%A, %B %d - %H:%M") %> -
                     <%= @event.end_date.strftime("%A, %B %d - %H:%M") %>
                  <% else %>
                    <%= @event.start_date.strftime("%A, %B %d, %Y - %H:%M") %> -
                     <%= @event.end_date.strftime("%A, %B %d, %Y - %H:%M") %>
                  <% end %>
                </p>
                <p><%= @event.full_address %></p>
                <p><%= @event.description %></p>
                <% if author?(@event) %>
                  <p>
                    <%= link_to "Edit event", edit_event_path(@event) %> |
                     <%= link_to "Delete event", event_path(@event),
                      method: :delete, data: { confirm: "Are you sure?"} %>
                  </p>
                <% end %>
               </div>
             </div>
          </div>
          <div class="col-md-4">
            <div class="box p-3">
              <% unless @event.attendees.empty? %>
                <h3 class="h4">Attendants</h3>
                <ul>
                <% @event.attendees.each do |attendee| %>
                  <li><%= link_to attendee.name, user_path(attendee) %></li>
                <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div id="map">
    <%= map(:center => {
              :latlng => [@event.latitude, @event.longitude],
              :zoom   => 15
            },
            :markers => [{
              :latlng => [@event.latitude, @event.longitude],
              :popup  => @event.title
            }]) %>
  </div>
</div>
