<div class="container-fluid search-bar">
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <%= form_tag search_path, method: :get,
          class: "form-inline search-form" do %>
          <div class="form-group search-group">
            <%= label_tag :location, nil, class: "search-label" %>
            <%= text_field_tag :location, params[:location],
              class: "form-control search-input" %>
          </div>

          <div class="form-group search-group">
            <%= label_tag :group, nil, class: "search-label"  %>
            <%= text_field_tag :group, params[:group],
              class: "form-control search-input" %>
          </div>

          <%= submit_tag "Search", name: nil, class: "btn btn-search" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
