<%= render "searches/search_bar" %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h2 class="text-center">
        <%= @events.count %> <%= "event".pluralize(@events.count) %> found
      </h2>
      <div class="row">
        <%= render @events %>
      </div>
      <div class="row">
        <div class="mx-auto mt-2rem mb-2rem">
          <%= will_paginate @events,
            :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        </div>
      </div>
    </div>
  </div>
</div>
