<div class="container">

  <%= render partial: "application/breadcrumbs" %>

  <div class="row justify-content-md-center">
    <div class="col-md-8 mt-2 mb-2rem">

      <h2 class="text-center mb-2rem">
        Invite someone
      </h2>

      <%= form_for @invitation do |f| %>

        <div class="box form-group pl-4 pr-4 pb-4">
          <%= render "error_messages", object: @invitation %>

          <!-- First Name -->
          <div class="form-group pt-4">
            <%= f.label :name, "First name", class: "mb-0" %>
            <small class="text-muted mb-0">Required *</small>

            <small class="d-block text-secondary mt-0 mb-2
              pt-0125 pb-0125 form-note">
              <em>The person's account would be created using this name.</em>
            </small>

            <%= f.text_field :name, placeholder: "Doris",
              class: "form-control" %>
          </div>

          <!-- Email -->
          <div class="form-group mt-4">
            <%= f.label :email %>
            <small class="text-muted">Required *</small>
            <%= f.email_field :email, autocomplete: "email",
              placeholder: "doris@email.com", class: "form-control" %>
          </div>

          <!-- Invite -->
          <div class="form-group mt-4 mb-0">
            <% if @group.sample_group? %>
              <%= f.button "Invite", disabled: true,
                class: "btn btn-primary btn-block btn-lg" %>
            <% else %>
              <%= f.submit "Invite",
                class: "btn btn-primary btn-block btn-lg" %>
            <% end %>
          </div>

        </div>
      <% end %>

      <!-- Sample Group Alert -->
      <% if @group.sample_group? %>
        <div class="alert alert-primary text-center mt-4">
          <p class="mb-0">
            Invitations to sample groups are disabled.
          </p>
        </div>
      <% end %>

    </div>
  </div>

</div>
