<header class="<%= 'header-border-bottom' if dark_header? %>">
  <nav class="navbar navbar-expand-md <%= navbar_style %>
    justify-content-between">
    <div class="container container-semi-fluid">

      <!-- Prevy Logo -->
      <%= link_to "Prevy", root_path, id: "logo",
        class: "header-logo #{header_logo_style}" %>

      <!-- Navbar Toggler -->
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

          <!-- Notifications Button -->
          <li class="nav-item mr-md-3 mb-2 mb-md-0">
            <%= notifications_button %>
          </li>

          <!-- User Button and Dropdown Menu -->
          <% if user_signed_in? %>

            <li class="nav-item dropdown">
              <button class="btn btn-outline-light btn-navbar-menu dropdown-toggle"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %> <b class="caret"></b>
              </button>

              <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuButton">
                <%= create_group_menu_link(current_user) %>

                <% if current_user.groups %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "My groups", user_groups_path(current_user),
                    class: "dropdown-item" %>
                  <%= membership_requests_link %>
                <% end %>

                <div class="dropdown-divider"></div>

                <%= link_to "Profile", current_user,
                  class: "dropdown-item" %>
                <%= link_to "Account settings",
                  edit_user_registration_path(current_user),
                  class: "dropdown-item" %>

                <div class="dropdown-divider"></div>

                <%= link_to "Log out", destroy_user_session_path,
                  method: :delete,
                  class: "dropdown-item" %>
              </div>
            </li>

          <!-- Log In and Sign Up Buttons -->
          <% else %>

            <li class="nav-item mr-md-3 mb-2 mb-md-0">
              <%= link_to "Log in", new_user_session_path,
                class: "btn #{log_in_button_style} btn-navbar-menu p-2",
                  role: "button" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path,
                class: "btn #{sign_up_button_style} btn-navbar-menu p-2",
                  role: "button" %>
            </li>

          <% end %>

        </ul>
      </div><!-- ./navbar-collapse -->

    </div>
  </nav>

  <%= render "searches/search_bar" if groups_index? || searches_show? %>
</header>
