<nav class="navbar navbar-expand-md navbar-dark
  bg-dark justify-content-between">
  <div class="container">
    <%= link_to "Private Events", root_path, id: "logo", class: "navbar-brand" %>
    <div id="navbarCollapse" class="navbar-collapse collapse show">
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %> <b class="caret"></b>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to "Create event", new_event_path,
                class: "dropdown-item" %>
              <%= link_to "Create group", new_group_path,
                class: "dropdown-item" %>
              <% if current_user.groups %>
                <div class="dropdown-divider"></div>
                <%= link_to "My groups", user_groups_path(current_user),
                  class: "dropdown-item" %>
                <%= link_to user_membership_requests_path(current_user),
                  class: "dropdown-item" do %>
                  Membership requests <%= membership_requests_badge %>
                <% end %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Profile", current_user,
                class: "dropdown-item" %>
              <%= link_to "Account settings", edit_user_path(current_user),
                class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", logout_path, method: :delete,
                class: "dropdown-item" %>
            </div>

            <%= membership_requests_badge %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "btn btn-outline-secondary nav-link", role: "button" %>
          </li>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>
