<!DOCTYPE html>
<html>
  <head>
    <title>Vamos</title>
    <%= csrf_meta_tags %>
    <%= render "head_tags" %>
  </head>

  <body class="d-flex flex-column bg-light">
    <%= render "header" %>

    <main class="main-container">
      <%= yield %>
    </main>

    <%= render "footer" unless devise_action? || user_settings? %>
  </body>
</html>
