<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "header" %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
