<!DOCTYPE html>
<html>
  <head>
    <title>Prevy: Private Communities Around Events</title>
    <%= csrf_meta_tags %>
    <%= render "head_tags" %>
  </head>

  <body class="d-flex flex-column bg-light">
    <%= render "header" %>
    <%= render "flash_messages" %>

    <main class="main-container">
      <%= yield %>
    </main>

    <%= render "footer" unless page_without_footer? %>
  </body>
</html>
