<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column bg-light">
    <%= render "header" %>
    <%= render "searches/search_bar" if home_page? %>
    <%= render "flash_messages" %>

    <main class="main-container">
      <%= yield %>
    </main>

    <%= render "footer" %>
  </body>
</html>
